@use "../../styles/libs/variables" as variables;

@media only screen and (min-width: 600px) {
  .root {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 100px 0;
    width: 100%;

    > div {
      background-color: variables.$line-break;
      border-radius: variables.$infinity;
      height: 2px;
      width: 80%;
    }
  }
}
