[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
v = {editable = true,version = "*"}

[packages]
django = "*"
python-decouple = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
whitenoise = "*"
graphene-django = "*"
django-filter = "*"
sentry-sdk = "==0.12.3"
dj-database-url = "*"

[requires]
python_version = "3.7"
