.root {
  display: flex;
  justify-content: center;
  width: 100%;

  > div {
    max-width: 1200px;
    width: 100%;

    > p {
      font-size: 2.5rem;
      max-width: 95%;

      @media only screen and (min-width: 600px) {
        font-size: 3rem;
        max-width: 75%;
      }

      > span {
        display: inline-block;
        height: 40px;
        margin: 0 8px;
        width: 29px;

        > a {
          align-items: flex-end;
          display: flex;
          height: 40px;
          position: relative;
          transition: margin-bottom 0.2s, opacity 0.2s;

          > div {
            bottom: -5px;
            position: absolute;

            &:hover {
              opacity: 0.8;
              margin-bottom: 3px;
            }
          }
        }
      }

      > span:first-child {
        margin: 0 0 0 5px;
      }
    }
  }
}
