@use "../../styles/libs/variables" as variables;

.root {
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 0 3%;
  width: 100%;

  > div {
    max-width: 1400px;
    width: 100%;

    > h2 {
      font-size: 2.5rem;
      max-width: 95%;

      @media only screen and (min-width: 600px) {
        font-size: 3rem;
        margin: 80px 0 120px;
        max-width: 75%;
      }

      > span {
        display: inline-block;
        height: 30px;
        margin: 0 0 0 7px;
        width: 30px;

        > a {
          align-items: flex-end;
          display: flex;
          height: 30px;
          position: relative;
          transition: opacity 0.3s;

          > div {
            bottom: -5px;
            position: absolute;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      > span:last-child {
        margin: 0 8px;
      }
    }

    .content {
      display: flex;

      .article__previews {
        flex-grow: 2;
      }

      .content__sidebar {
        flex-grow: 1;
        max-width: 460px;
        width: 100%;

        .tag__area {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 50px;
          width: 100%;
        }
      }
    }
  }
}
