@use "../../styles/libs/_variables" as variables;

.root {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 0 3%;
  width: 100%;

  @media only screen and (min-width: 600px) {
    height: 80px;
  }

  @media only screen and (min-width: 1000px) {
    height: 100px;
  }

  .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;

    > h1 {
      color: variables.$navbar-title-color;
      transition: color 0.3s;

      &:hover {
        color: variables.$hover-color;
      }
    }

    > nav {
      display: flex;
      align-self: center;
      flex-grow: 1;
      justify-content: flex-end;

      > a {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: center;
        text-decoration: none;
        transition: color 0.3s, padding-bottom 0.3s;
        width: 100px;

        &:hover {
          color: variables.$hover-color;
          padding-bottom: 5px;
        }
      }
    }
  }
}
