@use "../../styles/libs/_variables" as variables;

.root {
  align-items: center;
  background-color: variables.$background-color-dark;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 0 3%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @media only screen and (min-width: 600px) {
    height: 120px;
  }

  .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;

    .title {
      color: variables.$navbar-title-color;
      cursor: pointer;
      font-size: 5.5rem;
      transition: color 0.3s;

      &:hover {
        color: variables.$hover-color;
      }

      @media only screen and (min-width: 600px) {
        font-size: 10rem;
      }
    }

    > div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 80%;

      .theme__icon {
        cursor: pointer;
        display: flex;
        height: 60px;
        justify-content: flex-end;
        transition: padding-bottom 0.3s;
        width: 100px;

        &:hover {
          padding-bottom: 5px;
        }

        @media only screen and (min-width: 600px) {
          justify-content: center;
        }
      }

      .navbar__links {
        display: none;

        @media only screen and (min-width: 600px) {
          display: flex;
          align-self: center;
          justify-content: flex-end;

          > a {
            align-items: center;
            display: flex;
            height: 60px;
            justify-content: center;
            text-decoration: none;
            transition: color 0.3s, padding-bottom 0.3s;
            width: 100px;

            &:hover {
              color: variables.$hover-color;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
