@use "../../styles/libs/_variables" as variables;

.root {
  background-color: variables.$background-hover-color-dark;
  border: none;
  border-radius: variables.$border-small;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 2%;
  padding: 6px 10px;
  text-decoration: none;
  transition: opacity 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline-color: variables.$text-color-dark;
  }
}
